@model IEnumerable<SliverSpoon.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="data" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
