@model IEnumerable<SliverSpoon.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="data" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPersons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
